@{
    ViewData["Title"] = "About";

    var studentName = "Carrie Arevalo";
    var studentNumber = "101469655";
    var courseCode = "COMP2139";
    var courseSection = "18132";
}

<h1>@ViewData["Title"]</h1>
<pre>
Student Name: Carrie Arevalo
Student Number: 101469655
Course Code: COMP2139
Section Number: 18132
</pre>